/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300&display=swap');

body, html, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Sarabun', sans-serif;
	/* font-size: 18px !important; */
	/* color: #000 !important; */
	/* color: #fff !important; */
/* } */ 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;400&display=swap');

body, html, h1, h2, h3, h4, h5, h6, p, tr, td, .th, table, tr, td, th, li, .nav {
	font-family: 'Noto Sans Thai', sans-serif !important;
}

.th, table, tr, td, th, .table, span{
	font-family: 'Noto Sans Thai', sans-serif !important;
}

* {
	font-family: 'Noto Sans Thai', sans-serif;
}

/* h1, h2, h3, h4, h5{
	font-family: 'Sarabun', sans-serif;
	font-weight: 400;
} */

/* html .navbar-static .app-content .content-wrapper{
	padding: 1.8rem 1rem 0
} */

.text-dark{
	color: #000 !important;
}

.btn-success {
    border-color: #22b169 !important;
    background-color: #22b169 !important;
    color: #fff;
}

.bg-success {
    background-color: #22b169 !important;
	/* color: #fff !important; */
}

.btest{
	color: #4a5751;
}

*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
   overflow: auto !important;
}

.dn{
	display: none;
}

#DataTables_Table_0_wrapper .btn-secondary {
	border-color: #22b169 !important;
    background-color: #22b169 !important;
    color: #fff;
}

body.dark-layout h1, body.dark-layout h2, body.dark-layout h3, body.dark-layout h4, body.dark-layout h5, body.dark-layout h6, body.dark-layout .h1, body.dark-layout .h2, body.dark-layout .h3, body.dark-layout .h4, body.dark-layout .h5, body.dark-layout .h6 table.formDemo {
    color: #bdd1f8;
}

.zoom {
	padding: 0px;
	/* background-color: green; */
	transition: transform .2s; /* Animation */
	width: 130px;
	height: 130px;
	margin: 0 auto;
  }
  
  .zoom:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .swal2-title{
	  color: #000 !important;
  }